node_modules
.env.development
coverage
coverage.json
typechain
src/


# OpenZeppelin: Network file
.openzeppelin/unknown-*.json

#Hardhat files
cache

# Contract artifact is needed in Github actions CI test environment
artifacts/@openzeppelin

# Validation is needed in Github actions CI test environment
byproducts/*
!byproducts/cache

byproducts/cache/*
!byproducts/cache/validations.json